.buy-sell {
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-sell-select, .coins-count-input, .coins-price {
    font-size: 25px;
    width: 250px;
}

.coins-price {
    outline: none;
    border: none;
}

.b-or-s-select {
    font-size: 25px;
    width: 250px;
    margin-bottom: -20px;
}

.b-s-button {
    width: 200px;
    height: 40px;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    background-color: #0066FE;
    color: whitesmoke;
}

.green {
    color: green;
}

.red {
    color: red;
}

@media screen and (max-width: 1100px) {
    .buy-sell {
        width: 90%;
    }
}


@media screen and (max-width: 550px) {
    .buy-sell {
        min-height: 350px;
        max-height: 350px;
    }

    .buy-sell {
        width: 100%;
    }

    .buy-sell-select, .coins-count-input, .coins-price,  .b-or-s-select  {
        font-size: 17px;
        width: 170px;
    }

    .b-s-button {
        width: 150px;
        height: 40px;
        font-size: 17px;
    }
}