.selected-page {
  background-color: green;
}

.pages button {
  border: none;
  width: 30px;
  height: 30px;
}

.pages {
  margin-top: 10px;
  margin-left: 40vw;
  width: 200px;
}

.pages-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom {
  margin-top: 30px;
  padding-bottom: 100px;
}

.top {
  padding-top: 20px;
  margin-bottom: -10px;
}

@media screen and (max-width: 550) {
  .pages {
    margin-top: 10px;
    margin-left: -100px;
    width: 200px;
  }
}