.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.profile-img {
    border-radius: 100px;
    border: 1px solid snow;
    width: 50px;
    height: 50px;
}

.profile {
    padding: 20px;
}

.favorite-h2 {
    margin-top: 50px;
}