.search-answer {
    background-color: #D9D9D9;
    position: absolute;
    width: 20%;
    min-height: 400px;
    max-height: 400px;
    right: 24.5%;
    overflow-y: scroll;
    border-radius: 0px 10px;
    color: black;
}

.search-none {
    display: none;
}

.result {
    display: flex;
    width: 90%;
    margin-left: 20px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.result-img {
    width: 25px;
    height: 25px;
}