.header {
    display: flex;
    width: 100%;
    background: #1C1D21;
    padding: 1px;
    color: #FFEEDB;
}

.header-title {
    width: 20%;
    margin-left: 48px;
}

.header-pages {
    width: 20%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-button {
    margin-top: 10px;
    color: #FFEEDB;
    border: none;
    background-color: #1C1D21;
}