.search-line {
    width: 30%;
    margin-top: 3px;
}

.search-line-input {
    font-size: 20px;
    width: 120%;
    outline: none;
    padding: 5px 0px 5px 10px;
}

.search-line-submit {
    font-size: 18px;
    margin: 10px 0px 0px 10px;
    color: #FFEEDB;
    border: none;
    background-color: #1C1D21;
}

@media screen and (max-width: 900px) {
    .search-line {
        width: 70%;
        margin-bottom: 10px;
    }
}