.search-answer {
    background-color: #D9D9D9;
    position: absolute;
    width: 350px;
    min-height: 400px;
    max-height: 400px;
    right: 31%;
    overflow-y: scroll;
    border-radius: 0px 10px;
    color: black;
    z-index: 999999;
}

.search-none {
    display: none;
}

.result {
    margin: 10px 0px 5px 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.result-img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 900px) {
    .search-answer {
        right: 30%;
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    .search-answer {
        right: 30%;
        width: 64%;
    }
}